@model LuNascimento.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<main class="container-fluid p-4">
    <form method="post" asp-action="Login" asp-controller="Account" style="padding-top: 90px; padding-bottom: 100px;">
        <div class="text-center mb-4">
            <img src="~/images/logorosa.png" alt="Logo" width="350px">
        </div>
        <input type="hidden" asp-for="UrlRetorno">
        <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Senha" class="form-label"></label>
            <input asp-for="Senha" class="form-control">
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" asp-for="Lembrar" class="form-check-input">
            <label asp-for="Lembrar" class="form-check-label"></label>
        </div>
<br>
        <button type="submit" class="w-100 btn" style="background-color: #fc6267; color: white">Entrar</button>

    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script>
        let mensagemErro = '';
        $('.validation-summary-errors ul li').each(function () {
            mensagemErro += $(this).text();
        });
        if (mensagemErro != '') {
            Swal.fire({
                title: "Acesso Negado",
                text: mensagemErro,
                icon: "error"
            });
        }
    </script>
}