@{
	ViewData["Title"] = "Aromas";
}

<section class="breadcrumb_part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<h2>AROMATERAPIA</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="whole-wrap">
	<div class="container box_1170">
		<div class="section-top-border">
			<h3 class="mb-30">SALA DE ESTAR</h3>
			<div class="row">
				<div class="col-md-3">
					<img src="~/images/sala.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-9 mt-sm-20">
					<p> A escolha do melhor aroma para a sala pode depender do ambiente que você deseja criar 
						e das preferências pessoais. Aromas cítricos são recomendados pois promovem harmonia
						e alegria e o deixam energizante. O aroma doce e reconfortante da 
						baunilha é muitas vezes associado a uma sensação de calor e acolhimento. 
					</p>
				</div>
			</div>
		</div>
		<div class="section-top-border text-right">
			<h3 class="mb-30">QUARTO</h3>
			<div class="row">
				<div class="col-md-9">
					<p> A escolha do melhor aroma para o quarto geralmente 
						é uma questão de preferência pessoal, mas seu quarto precisa de um aroma suave para ajudá-lo a adormecer e ter um sono tranquilo como
						a lavanda que é conhecida por suas propriedades relaxantes e sedativas. 
						Seu aroma suave pode ajudar a reduzir a ansiedade e promover um sono tranquilo. Caso
						queira uma atmosfera romântica use aromas leves e suaves.
					</p>
				</div>
				<div class="col-md-3">
					<img src="~/images/quarto.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="section-top-border">
			<h3 class="mb-30">BANHEIRO</h3>
			<div class="row">
				<div class="col-md-3">
					<img src="~/images/banheiro.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-9 mt-sm-20">
					<p> A escolha do melhor aroma para o banheiro muitas vezes depende das preferências pessoais, 
						mas há algumas opções populares que podem criar um ambiente fresco e agradável:  
						Aromas cítricos, como limão, laranja ou toranja, são refrescantes e pode ajudar a neutralizar odores encontrados no banheiro.
						Aromas refrescantes, como eucalipto ou hortelã, podem manter o ambiente limpo e revigorante. 
					</p>
				</div>
			</div>
		</div>
		<div class="section-top-border text-right">
			<h3 class="mb-30">CARRO</h3>
			<div class="row">
				<div class="col-md-9">
					<p> A escolha do aroma para carros é pessoal, dependendo das preferências individuais, mas é necessário
						se certificar de não usar aromas muito fortes que possam distrair ou irritar os passageiros, e
						evite qualquer fragrância que possa causar alergias ou desconforto.
						Aromas como menta é revigorante para manter alerta e como canela para trazer um toque reconfortante, especialmente no frio.
						Opte por aromas suaves para evitar excesso.
					</p>
				</div>
				<div class="col-md-3">
					<img src="~/images/carro.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="section-top-border">
			<h3 class="mb-30">COZINHA</h3>
			<div class="row">
				<div class="col-md-3">
					<img src="~/images/cozinha.png" alt="" class="img-fluid">
				</div>
				<div class="col-md-9 mt-sm-20">
					<p> O melhor aroma para a cozinha pode depender das preferências individuais, mas geralmente os aromas frescos e herbais 
						são populares para esse ambiente. Algumas opções que podem tornar sua cozinha mais agradável é
						a fragrância cítrica do limão que é refrescante e pode ajudar a neutralizar odores indesejados na cozinha. 
						É uma escolha especialmente boa para cozinhas onde se preparam alimentos com cheiros fortes. 
					</p>
				</div>
			</div>
		</div>
		<div class="section-top-border text-right">
			<h3 class="mb-30">ESCRITÓRIO</h3>
			<div class="row">
				<div class="col-md-9">
					<p>A escolha do melhor aroma para o escritório pode depender do ambiente de trabalho e das preferências pessoais, 
						mas aqui algumas opções que geralmente são consideradas reservadas para espaços de trabalho é
						o aroma da hortelã-pimenta que é refrescante e pode ajudar a estimular a mente, mantendo você alerta e focado.
					</p>
				</div>
				<div class="col-md-3">
					<img src="~/images/escritorio.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
