<section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Aromas</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>Bamboo Dreams</h5>
                        <h3>
                        A fragrância alegre e envolvente do Aromatizador de Ambientes  do Bamboo Dreams traz   
                        tradicionalnente a  nota herbal do Bamboo com toque predominantemente florado, oriental, balsâmico e levemente amadeirado.
                        Com aromas envolventes que nos convida a um  passeio pela natureza. Uma excelente opção para perfumar e decorar qualquer 
                        ambiente de maneira sutil e prolongada. Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção 
                        de fixação do aroma no ambiente. Promovendo uma atmosfera de bem-estar e alto astral,  
                        tornando os momentos do dia a dia mais agradáveis.Um perfume que fica na memória de quem experimenta.
                        <li>Topo: Bamboo e Bergamota</li>
                        <li>Corpo: Jasmim e Jacinto</li>
                        <li>Fundo: Musk e Madeira Aveludada</li>
                        </h3>
                        <h5>Bamboo Gold</h5>
                        <h3>
                        O tradicional Bamboo com um aroma  único, envolvente, suave e capaz de aflorar as mais lindas sensações de frescor 
                        e alegria. Com notas herbais floradas com o fundo levemente cítrico, resultando num ambiente perfumado e aconchegante.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Limão, Menta, Bergamota e Folha de Laranjeira,</li>
                        <li>Corpo: Jasmim, Gerânio, Lírio do Vale e Notas Aquosas</li>
                        <li>Fundo: Musk, Cedro e Ambergis</li>
                            </h3>
                        <h5>Folhas de Outono</h5>
                            <h3>
                            Um aroma  envolvente e  marcante  que nos leva as mais incríveis sensações presentes na  natureza. 
                            Com a delicadeza das folhas caídas de outono com nuances secas e cítricas  que remetem à leveza , inspiram beleza e recomeço. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.
                        <li>Topo: Limão, Verbena, Lavanda e Lima da Pérsia</li>
                        <li>Corpo: Lírio dos Vale e Notas Verdes</li>
                        <li>Fundo: Musk, Cedro e Patchouli</li> 
                            </h3>
                        <h5>Rosas do Mediterrâneo</h5>
                            <h3>
                            O aroma suave e refrescante nos levam ao alcance de um cheiro verde, vigoroso e levemente ácido. 
                            Sua composição nosremetem a pureza das ervas oriundas do mediterrâneo que fazem parte das nossas vidas através dos aromas tão presente da
                            nossa culinária e da medicina, traz aconchego e o desejo de continuar degustando esse aroma surpreendentemente mágico. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.
                        <li>Topo: Mandarina, Manjericão e Notas Verdes </li>
                        <li>Corpo: Néroli, Jasmim, Lírio do Vale e Ervas do Mediterrâneo</li>
                        <li>Fundo: Cedro, Vetiver e Almíscar Branco</li>  
                            </h3>
                        <h5>Jabuticaba</h5>
                            <h3>
                            O aroma de jabuticaba é surpreendente e apaixonante,  com  uma fragrância refrescante que toca nossos  
                            sentidos que nem imaginávamos que seria despertados. 
                            Com uma  leveza exuberante, sutilmente doce com toque cítrico nos transportam ao que é novo e atraente. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.
                        <li>Topo: Lima, Cassis, Pomelo, Pêssego, Framboesa e Jabuticaba</li>
                        <li>Corpo: Rosa, Ylang Ylang, Jasmim e Lírio do Vale</li>
                        <li>Fundo: Musk</li>                              
                            </h3>
                        <h5>Pimenta Rosa</h5>
                            <h3>
                            A Pimenta Rosa possui um aroma  levemente adocicado, trata-se de uma fragrância sensual, profunda e ardente que traz a certeza da sedução e encantamento.   
                            Funciona como um delicioso afrodisíaco olfativo, que nos liberta e alegra o coração.  Se surpreenda com essa explosão de sensações. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Cravo e Pimenta Rosa</li>
                        <li>Corpo: Açúcar e Baunilha</li>
                        <li>Fundo: Musk, Couro e Sândalo</li> 
                            </h3>
                        <h5>Vanilla</h5>
                            <h3>
                            Vanilla é um aroma exuberante, adocicada, sofisticada, marcante e ambarada com notas precisas  e sensuais. Composta com os mais perfeitas combinações florais e amadeiradas.
                            Trata-se de uma essência com perfil adocicado oriental florado, somada as notas  secas e sofisticadas com nuances arrojadas. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.                         
                        <li>Topo: Lavanda e Bergamota</li>
                        <li>Corpo: Rosas e Lírio do Vale</li>
                        <li>Fundo: Musk e Fava de Baunilha </li> 
                            </h3>
                        <h5>Luxurius</h5>
                            <h3>
                            Um aroma surpreendente  instigante, sóbrio e ao mesmo instante elegante.  Com toque  oriental amadeirado e levemente frutado.
                            Notas incrivelmente ambaradas sensuais e numa combinação perfeita de seus ingredientes florais e amadeirados. Venha se surpreender com os encantos de Luxurius. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.                         
                        <li>Topo: Mandarina</li>
                        <li>Corpo: Rosa, Jasmim e Patchouli</li>
                        <li>Fundo: Âmbar, Sândalo e Camurça</li> 
                        </h3>
                        <h5>Alecrim  Blanc</h5>
                            <h3>
                            Com um aroma herbal cítrico com notas de perfume suave e agradável nos  movem nas mais agradáveis sensações de alegria e harmonia. 
                            Tornando o ambiente agradável e elegante. A sua fragrância ainda estimula a memória e ajuda a aliviar o cansaço mental, estimulando a concentração e  criatividade. 
                            Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Limão, Alecrim, Lavanda e Eucalipto</li>
                        <li>Corpo: Jasmim, Sândalo e Lírio do Vale</li>
                        <li>Fundo: Ambergris e Madeiras de Pinho</li> 
                        </h3>
                            </div>
                        </div>
                    </div>
                </section>
<section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Aromas Exclusivos</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>Orvalho</h5>
                        <h3>
                        Um aroma irresistível, provocante, cativante e envolvente. Misturando sensações florais levemente adocicadas da primavera com notas 
                        refrescantes e amadeiradas do alecrim e cedro, ambaradas com notas de fundo de musk e lavanda.
                        Trazendo sensações de aconchego, firmeza e calma. Exclusividade e satisfação para seu ambiente ficar ainda mais especial. 
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Cereja, Morango, Lavanda, Framboesa e Bergamota</li>
                        <li>Corpo: Jasmim, Rosas, Cedro, Ylang Ylang, Lírio do Vale e Heliotropina</li>
                        <li>Fundo: Musk, Âmbar, Sândalo e Baunilha.</li>
                        </h3>
                        <h5>Plenitude</h5>
                        <h3>
                        Trata-se de uma mistura incrivelmente  sofisticada, deliciosamente adocidada e ao mesmo tempo sedutora. 
                        Composta com toques florais  frutados com notas balsâmicas , seu teor levemente amadeirado, das flores das cerejeiras  
                        combinadas exclusivamente com a tradicional nota herbal do Bamboo. Um perfume envolvente e rico em sensações que vão aflorar o prazer 
                        pela vida e amor pessoal. 
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Bamboo, Bergamota, Pêra, Maçã, Melão e Morango</li>
                        <li>Corpo: Rosa, Jasmin, Jacinto, Cassis, Ameixa, Jasmim, Violeta e Lírio do Vale</li>
                        <li>Fundo: por Musk, Sândalo,  Baunilha e  Madeira Aveludada</li>
                        </h3>
                         <h5>Atitude</h5>
                        <h3>
                        Um aroma sofisticado e envolvente como uma noite enluarada, que vai te propiciar uma jornada olfativa inesquecível. 
                        Traz na sua composição exclusiva um toque marcante e aveludado das folhas do outono com a sutileza das notas balsâmicas e amadeiradas
                        de flores das cerejeiras, além de nuances encantadoras  do alecrim e lavanda. Presenteando-nos com  uma mistura de magnetismo, sedução 
                        e fascínio pelo que é bom do viver e reviver intensamente. 
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.  
                        <li>Topo:  Limão, Verbena, Lavanda, Lima da Pérsia, Alecrim,  Pêra,  Maçã, Melão, Morango, e Bergamota</li>
                        <li>Corpo: Rosas, Cedro, Cassis, Ylang Ylang e Lírio do Vale</li>
                        <li>Fundo: Musk, Sândalo e Baunilha</li>
                        </h3>
                        <h5>Magia</h5>
                        <h3>
                        Um aroma exclusivamente  fascinante e adocicado. Traz a nota suave com tons florais levemente frutados do Chá Branco, 
                        numa magia e encanto que  conduz ao bem estar, tranquilidade e paz interior. 
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente.  
                        <li>Topo: Lima, Laranja e Chá Branco</li>
                        <li>Corpo: Violeta, Jasmim e Lírio do Vale</li>
                        <li>Fundo: Musk </li>
                        </h3>
                        <h5>Outono</h5>
                        <h3>
                        Um aroma exclusivo, combinando toques florais do Chá Branco com combinações amadeiradas e secas das notas orientais. 
                        Sabores que nos conduzem ao bem estar, tranquilidade e paz interior. 
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do aroma no ambiente. 
                        <li>Topo: Lima, Pêra, Laranja  e Chá Branco</li>
                        <li>Corpo: Violeta, Patchouli, Notas Especiadas e Madeira Guaiaco, Jasmim e Lírio do Vale</li>
                        <li>Fundo: Musk, Cedro e Baunilha</li>
                        </h3>     
                    </div>
                </div>
            </div>
        </div>

<section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>Aromaterapia</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>Sala de Estar </h5>
                        <h3>
                        Aromas cítricos são recomendados para ambientes de convívio social e promovem harmonia, aconchego e alegria.  
                        </h3>

                    </div>
                </div>
            </div>
        </div>
      