@{
   ViewData["Title"] = "Aromas";
}

<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>AROMAS</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_us padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="about_us_content">
                    <h5>Bamboo Dreams</h5>
                    <h3>
                        O Aromatizador de Ambientes Bamboo Dreams oferece uma fragrância alegre e envolvente, com notas herbais de bambu e toques florais, 
                        orientais e amadeirados. Ideal para perfumar e decorar ambientes de forma sutil e prolongada, o produto possui fragrâncias exclusivas 
                        de alta qualidade, promovendo uma atmosfera de bem-estar e alto astral. Este perfume memorável 
                        cria momentos mais agradáveis no dia a dia. Além de elevar a percepção sensorial, cria uma atmosfera de bem-estar 
                        e alto astral, tornando os momentos cotidianos mais agradáveis. 
                        Este perfume marcante deixa uma impressão duradoura na memória de quem o experimenta.
                        <li>Topo: Bamboo e Bergamota</li>
                        <li>Corpo: Jasmim e Jacinto</li>
                        <li>Fundo: Musk e Madeira Aveludada</li>
                    </h3>
                    <h5>Bamboo Gold</h5>
                    <h3>
                        O tradicional Bamboo com um aroma único, envolvente, suave e capaz de aflorar as mais lindas
                        sensações de frescor
                        e alegria. Com notas herbais floradas com o fundo levemente cítrico, resultando num ambiente
                        perfumado e aconchegante.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Limão, Menta, Bergamota e Folha de Laranjeira,</li>
                        <li>Corpo: Jasmim, Gerânio, Lírio do Vale e Notas Aquosas</li>
                        <li>Fundo: Musk, Cedro e Ambergis</li>
                    </h3>
                    <h5>Folhas de Outono</h5>
                    <h3>
                        Um aroma envolvente e marcante que nos leva as mais incríveis sensações presentes na natureza.
                        Com a delicadeza das folhas caídas de outono com nuances secas e cítricas que remetem à leveza ,
                        inspiram beleza e recomeço.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Limão, Verbena, Lavanda e Lima da Pérsia</li>
                        <li>Corpo: Lírio dos Vale e Notas Verdes</li>
                        <li>Fundo: Musk, Cedro e Patchouli</li>
                    </h3>
                    <h5>Rosas do Mediterrâneo</h5>
                    <h3>
                        O aroma suave e refrescante nos levam ao alcance de um cheiro verde, vigoroso e levemente ácido.
                        Sua composição nosremetem a pureza das ervas oriundas do mediterrâneo que fazem parte das nossas
                        vidas através dos aromas tão presente da
                        nossa culinária e da medicina, traz aconchego e o desejo de continuar degustando esse aroma
                        surpreendentemente mágico.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Mandarina, Manjericão e Notas Verdes </li>
                        <li>Corpo: Néroli, Jasmim, Lírio do Vale e Ervas do Mediterrâneo</li>
                        <li>Fundo: Cedro, Vetiver e Almíscar Branco</li>
                    </h3>
                    <h5>Jabuticaba</h5>
                    <h3>
                        O aroma de jabuticaba é surpreendente e apaixonante, com uma fragrância refrescante que toca
                        nossos
                        sentidos que nem imaginávamos que seria despertados.
                        Com uma leveza exuberante, sutilmente doce com toque cítrico nos transportam ao que é novo e
                        atraente.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Lima, Cassis, Pomelo, Pêssego, Framboesa e Jabuticaba</li>
                        <li>Corpo: Rosa, Ylang Ylang, Jasmim e Lírio do Vale</li>
                        <li>Fundo: Musk</li>
                    </h3>
                    <h5>Pimenta Rosa</h5>
                    <h3>
                        A Pimenta Rosa possui um aroma levemente adocicado, trata-se de uma fragrância sensual, profunda
                        e ardente que traz a certeza da sedução e encantamento.
                        Funciona como um delicioso afrodisíaco olfativo, que nos liberta e alegra o coração. Se
                        surpreenda com essa explosão de sensações.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Cravo e Pimenta Rosa</li>
                        <li>Corpo: Açúcar e Baunilha</li>
                        <li>Fundo: Musk, Couro e Sândalo</li>
                    </h3>
                    <h5>Vanilla</h5>
                    <h3>
                        Vanilla é um aroma exuberante, adocicada, sofisticada, marcante e ambarada com notas precisas e
                        sensuais. Composta com os mais perfeitas combinações florais e amadeiradas.
                        Trata-se de uma essência com perfil adocicado oriental florado, somada as notas secas e
                        sofisticadas com nuances arrojadas.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Lavanda e Bergamota</li>
                        <li>Corpo: Rosas e Lírio do Vale</li>
                        <li>Fundo: Musk e Fava de Baunilha </li>
                    </h3>
                    <h5>Luxurius</h5>
                    <h3>
                        Um aroma surpreendente instigante, sóbrio e ao mesmo instante elegante. Com toque oriental
                        amadeirado e levemente frutado.
                        Notas incrivelmente ambaradas sensuais e numa combinação perfeita de seus ingredientes florais e
                        amadeirados. Venha se surpreender com os encantos de Luxurius.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Mandarina</li>
                        <li>Corpo: Rosa, Jasmim e Patchouli</li>
                        <li>Fundo: Âmbar, Sândalo e Camurça</li>
                    </h3>
                    <h5>Alecrim Blanc</h5>
                    <h3>
                        Com um aroma herbal cítrico com notas de perfume suave e agradável nos movem nas mais agradáveis
                        sensações de alegria e harmonia.
                        Tornando o ambiente agradável e elegante. A sua fragrância ainda estimula a memória e ajuda a
                        aliviar o cansaço mental, estimulando a concentração e criatividade.
                        Formulado com fragrâncias exclusivas e de alta qualidade que aumentam a percepção de fixação do
                        aroma no ambiente.
                        <li>Topo: Limão, Alecrim, Lavanda e Eucalipto</li>
                        <li>Corpo: Jasmim, Sândalo e Lírio do Vale</li>
                        <li>Fundo: Ambergris e Madeiras de Pinho</li>
                    </h3>
                </div>
            </div>
        </div>
</section>

