@{
   ViewData["Title"] = "Home";
}
<!-- slider section -->
<section class="slider_section ">
   <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="slider_bg_box">
         <img src="~/images/fundo.png" alt="">
      </div>
      <div class="carousel-inner">

         <div class="carousel-item active">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                              TEMOS DIFERENTES FRAGRÂNCIAS PARA SUA ESCOLHA
                           </span>
                           <br>
                        </h1>
                        <p>
                           AROMAS E AROMAS EXCLUSIVOS!!
                        </p>
                        <div class="btn-box">
                           <a asp-action="Products" class="btn1">
                              Compre Agora
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 col-lg-6 ">
                     <img src="~/images/carrossel1.png" alt="" class="img-fluid w-100">
                  </div>
               </div>
            </div>
         </div>

         <div class="carousel-item ">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                              CONFIRA NOSSOS OUTROS PRODUTOS
                           </span>
                           <br>
                        </h1>
                        <p>
                           TEMOS SACHÊ PARA GUARDA ROUPA, HOME SPRAY, ÁGUA DE LENÇOL, AROMATIZADOR PARA CARROS.
                        </p>
                        <div class="btn-box">
                           <a asp-action="Outros" class="btn1">
                              Compre Agora
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-5 col-lg-6 ">
                     <img src="~/images/carrossel2.png" alt="" class="img-fluid w-100">
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                             DÚVIDAS SOBRE CADA AROMA?
                           </span>
                           <br>
                        </h1>
                        <p>
                           VEJA OS COMPONENTES DE CADA AROMA PARA AUXILIAR NA SUA COMPRA!
                        </p>
                        <div class="btn-box">
                           <a asp-action="Aromas" class="btn1">
                              Confira
                           </a>
                        </div>
                     </div>
                  </div><div class="col-md-5 col-lg-6 ">
                     <img src="~/images/carrossel3.png" alt="" class="img-fluid w-100">
                  </div>
            </div>
         </div>
         </div>
      </div>
      <div class="container">
         <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
         </ol>
      </div>
   </div>
</section>
</div>
<!-- end slider section -->

<!-- fotos  -->
<section id="blog" class="blog_area pt-95 ">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6 col-md-9">
            <div class="section_title text-center pb-25">
               <h4 class="title">Destaques</h4>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-lg-4 col-md-7" style="border-radius: 30px; heigth:280px">
            <div class="card mt-30" style="border-radius: 30px;">
               <img class="card-img-top" src="~/images/aromatizador1.png" alt="blog" style="border-top-left-radius: 30px; border-top-right-radius: 30px;">
               <div class="card-body" style="background-color: #fc6267; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                  <h5 class="card-title text-center">
                     <a class="text-decoration-none text-white" asp-action="Products">Aromatizadores de Ambiente</a></h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-7" style="border-radius: 30px; heigth:280px">
            <div class="card mt-30" style="border-radius: 30px;">
               <img class="card-img-top" src="~/images/quemsomos.png" alt="blog" style="border-top-left-radius: 30px; border-top-right-radius: 30px;">
               <div class="card-body" style="background-color: #fc6267; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                  <h5 class="card-title text-center">
                     <a class="text-decoration-none text-white" asp-action="Quemsomos">Conheça Quem Somos</a></h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-7" style="border-radius: 30px; heigth:280px">
            <div class="card mt-30" style="border-radius: 30px;">
               <img class="card-img-top" src="~/images/aromatizador2.png" alt="blog" style="border-top-left-radius: 30px; border-top-right-radius: 30px;">
               <div class="card-body" style="background-color: #fc6267; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                  <h5 class="card-title text-center">
                     <a class="text-decoration-none text-white">Desconto Primeira Compra</a></h5>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>
</section>

<!-- end fotos  -->
<section class="single_product_list">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="single_product_iner">
               <div class="row align-items-start justify-content-between">
                  <div class="col-lg-6 col-sm-6 text-center">
                     <img src="~/images/fotozap.png" alt="#" class="w-75">
                  </div>
                  <div class="col-lg-6 col-sm-6 text-center">
                     <div class="single_product_content">
                        <h2> <a> Sugestões ou reclamações? </a> </h2>
                        <a href="https://wa.me/5514991619026?text=Tenho Dúvidas sobre os produtos!" target="_blank"
                           class="btn_3">Compre Já</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="single_product_iner">
               <div class="row align-items-start justify-content-between">
                  <div class="col-lg-6 col-sm-6 text-center">
                     <img src="~/images/fotoinsta.png" alt="#" class="w-75">
                  </div>
                  <div class="col-lg-6 col-sm-6 text-center">
                     <div class="single_product_content">
                        <h2> <a> Conheça o Instragram da Marca </a> </h2>
                        <a href="https://www.instagram.com/lunascimento.essenciass/" target="_blank" class="btn_3">Clique Aqui</a>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
</section>
