@{
   ViewData["Title"] = "Home";
}
<!-- slider section -->
<section class="slider_section ">
   <div class="slider_bg_box">
      <img src="~/images/slider-bg.png" alt="">
   </div>
   <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                              MONTE SEU FRASCO
                           </span>
                           <br>
                        </h1>
                        <p>
                           Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                           aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis
                           delectus repellat modi impedit sequi.
                        </p>
                        <div class="btn-box">
                           <a href="" class="btn1">
                              Compre Agora
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item ">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                              MONTE SEU FRASCO
                           </span>
                           <br>
                           On Everything
                        </h1>
                        <p>
                           Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                           aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis
                           delectus repellat modi impedit sequi.
                        </p>
                        <div class="btn-box">
                           <a href="" class="btn1">
                              Compre Agora
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                              MONTE SEU FRASCO
                           </span>
                           <br>
                           On Everything
                        </h1>
                        <p>
                           Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta
                           aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis
                           delectus repellat modi impedit sequi.
                        </p>
                        <div class="btn-box">
                           <a href="" class="btn1">
                              Compre Agora
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
         </ol>
      </div>
   </div>
</section>
</div>
<!-- end slider section -->

<!-- fotos  -->
<section id="blog" class="blog_area pt-95 ">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 col-md-9">
<div class="section_title text-center pb-25">
<h4 class="title">Destaques</h4>
<p></p>
</div>
</div>
</div> 
<div class="row justify-content-center">
<div class="col-lg-4 col-md-7">
<div class="single_blog mt-30">
<div class="blog_image">
<img src="~/images/01.jpeg" alt="blog">
</div>
<div class="blog_content">
<span class="number">01</span>
<div class="main_content">
<h4 class="blog_title"><a href="#">Film Making</a></h4>
<p></p>
</div>
</div>
</div> 
</div>
<div class="col-lg-4 col-md-7">
<div class="single_blog mt-30">
<div class="blog_image">
<img src="~/images/01.jpeg" alt="blog">
</div>
<div class="blog_content">
<span class="number">02</span>
<div class="main_content">
<h4 class="blog_title"><a href="#">Security</a></h4>
<p></p>
</div>
</div>
</div> 
</div>
<div class="col-lg-4 col-md-7">
<div class="single_blog mt-30">
<div class="blog_image">
<img src="~/images/01.jpeg" alt="blog">
</div>
<div class="blog_content">
<span class="number">03</span>
<div class="main_content">
<h4 class="blog_title"><a href="#">Entertainment</a></h4>
<p></p>
</div>
</div>
</div> 
</div>
</div> 
</div> 
</section>
<!-- end fotos  -->
<section class="single_product_list">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="single_product_iner">
               <div class="row align-items-center justify-content-between">
                  <div class="col-lg-6 col-sm-6">
                     <div class="single_product_img">
                        <img src="img/single_product_1.png" class="img-fluid" alt="#">
                        <img src="img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                     </div>
                  </div>
                  <div class="col-lg-5 col-sm-6">
                     <div class="single_product_content">
                        <h2> <a> Conheça nossos
                              principais produtos: os aromatizadores de ambiente
                           </a> </h2>
                        <a asp-action="Products" class="btn_3">Compre Já</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="single_product_iner">
               <div class="row align-items-center justify-content-between">
                  <div class="col-lg-6 col-sm-6">
                     <div class="single_product_img">
                        <img src="img/single_product_2.png" class="img-fluid" alt="#">
                        <img src="img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                     </div>
                  </div>
                  <div class="col-lg-5 col-sm-6">
                     <div class="single_product_content">
                        <h2> <a>Tem dúvidas sobre nossos
                              aromas? 
                        </a> </h2>
                        <a asp-action="Products" class="btn_3">Clique Aqui</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="single_product_iner">
               <div class="row align-items-center justify-content-between">
                  <div class="col-lg-6 col-sm-6">
                     <div class="single_product_img">
                        <img src="img/single_product_3.png" class="img-fluid" alt="#">
                        <img src="img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                     </div>
                  </div>
                  <div class="col-lg-5 col-sm-6">
                     <div class="single_product_content">
                        <h2> <a>Printed memory foam
                              brief modern throw
                              pillow case</a> </h2>
                        <a href="product_list.html" class="btn_3">Explore Now</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
